@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat';
}

body {
  background-color: #0a0a0a;
  color: #fff;
}

nav {
  width: 100;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 7%;
  border-bottom: 0.6px solid grey;
}

nav .brand {
  font-size: 25px;
  font-weight: 500;
}

nav .menu {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .menu a {
  text-decoration: none;
  color: white;
  position: relative;
}

nav .menu a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: blueviolet;
  left: 0;
  bottom: -10px;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
}

nav .menu a:hover::after {
  width: 100%;
}

main {
  padding: 20px 7%;
  width: 100%;
  height: auto;
}

main h1 {
  padding: 20px 0px;
}

main h2 {
  padding: 30px 0px;
  font-size: 30px;
}

main p {
  line-height: 30px;
}

main h3 {
  padding: 50px 0px 20px;
  font-size: 30px;
}

main h4 {
  padding: 90px 0px 20px;
  font-size: 30px;
}

main img {
  padding: 20px 0px 20px;
}

main h5 {
  padding: 100px 0px 20px;
  font-size: 30px;
}

.google {
  color: grey;
}

footer {
  width: 100%;
  height: 300px;
  padding: 30px 40% 0 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer h1 {
  font-size: 25px;
}

footer .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-menu a {
  text-decoration: none;
  padding: 10px 0;
  color: white;
}

footer .footer-menu a:nth-child(1) {
  color: aquamarine;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .social p {
  padding: 10px 0;
  color: aquamarine;
}

footer .social .social-icons i {
  padding: 5px;
}

.footer-info {
  width: 100%;
  height: 60px;
  padding: 0 7%;
}

.footer-info div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px grey solid;
}
/*# sourceMappingURL=style.css.map */